FilePortal/Connected Services/FileServiceReference/FileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FilesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FilesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56993/FileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DocumentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileId" type="ser:guid" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileNameInFileStorage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:decimal" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentDTO" nillable="true" type="tns:DocumentDTO" />
  <xs:complexType name="ArrayOfDocumentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentDTO" nillable="true" type="tns:DocumentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentDTO" nillable="true" type="tns:ArrayOfDocumentDTO" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>